<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LPsite</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="responsive.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0,minimum-scale=1.0″>
  </head>
  <body>
    <header>
      <div class="header-wrapper">
        <img src="images/image.png" class="logo">
      </div>
    </header>
    <div class="container">
      <div class="top-wrapper">
        <div class="top-message">
          <h1>エンジニアを目指す<br>すべての「冒険者」たちへ</h1>
          <p>仲間と団結し、就活最難関試練<br>「開発経験者優遇」を突破しよう</p>
        </div>
        <div class="top-link-wrapper">
          <h3>あと<strong>6</strong>人</h3>
          <button class="top-link">
            β版参加<br>エントリー
          </button>
        </div>
      </div>
      <div class="introduction-wrapper">
        <h2>What's INNOVATORS' GUILD?</h2>
        <p>scroll</p>
      </div>
      <div class="wall-wrapper">
        <div class="wall-word-wrapper">
          <h2 class="title">
            「開発経験者優遇」の壁
          </h2>
          <p class="wall-message">
            僕だって、私だって勉強しているのに、なぜ…。<br>
            それは、エンジニアの選考で最も見られるものが「実績」だから、<br>
            「どんな勉強をしたか」よりも「どんなコードを書いたか」<br>
            「何を作ったか」が求められるからです。<br>
          </p>
        </div>
      </div>
      <div class="catch-copy-wrapper">
        <p class="copy1">～ INNOVATORS' GUILD は</p>
        <p class="copy2">"チーム開発プラットフォーム"で</p>
        <p class="copy3">その壁を超える ～</p>

      </div>
      <div class="feature-wrapper">
        <h2 class="feature-title">INNOVATORS' GUILDの6つの特長</h2>
        <div class="feature-list-wrapper">
          <div class="feature">
            <img src="images/luna_1.png" class="feature-image">
            <div class="feature-message-wrapper">
              <h3>チーム開発</h3>
              <p>メンバーは“ギルド”と呼ばれるチームを組み、仲間と協力して各種開発に挑みます。<br>
                個人ではできない挑戦で、自分を磨き上げましょう。</p>
            </div>
          </div>
          <div class="feature">
            <img src="images/luna_1.png" class="feature-image">
            <div class="feature-message-wrapper">
              <h3>受託開発</h3>
              <p>一定条件をクリアしたメンバーはすぐに実践的なプロトタイプの開発に入ります。<br>
                「実務」こそ、あなたの成長、成功の源です。</p>
            </div>
          </div>
          <div class="feature">
            <img src="images/luna_1.png" class="feature-image">
            <div class="feature-message-wrapper">
              <h3>成長の可視化</h3>
              <p>レベルや称号などのシステムを活用することで、あなたの成長を「見える化」します。<br>
                成長を体感、そして確認し、<br>
                確実な未来への歩みを。</p>
            </div>
          </div>
          <div class="feature">
            <img src="images/luna_1.png" class="feature-image">
            <div class="feature-message-wrapper">
              <h3>ゲーム的要素</h3>
              <p>ギルド""クエスト"などの斬新なシステムで開発を「冒険」に変えます。<br>
              喜びも厳しさもすべてがあなたの冒険の1ページです。</p>
            </div>
          </div>
          <div class="feature">
            <img src="images/luna_1.png" class="feature-image">
            <div class="feature-message-wrapper">
              <h3>開発報酬を獲得</h3>
              <p>プロトタイプ開発では、活躍に応じた報酬を獲得できます。報酬は現金還元可能。<br>
                高い難易度の開発をクリアし、豪華報酬を目指しましょう。</p>
            </div>
          </div>
          <div class="feature black-over">
            <img src="images/luna_1.png" class="feature-image">
            <div class="feature-message-wrapper">
              <h3>就職・内定に直結</h3>
              <p>ここで成果を上げている優秀なギルドには企業から「スカウト」が来ることも。開発、アウトプットを積み重ね、理想のキャリアプランを実現しましょう。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="catch-phrase-wrapper">
        <p class="catch-phrase">
          日本で一番、あなたが<br>
          成長できる「ゲーム」。<br>
          それが INNOVATORS' GUILD です。
        </p>
      </div>
      <div class="all-power-wrapper">
        <h2 class="all-power-title">INNOVATORS' GUILDで得られる3つの力</h2>
        <div class="power-list">
          <div class="power">
            <p class="power-title">圧倒的な技術力</p>
            <img src="images/luna_1.png" class="power-image">
            <div class="power-message-wrapper">
              <p class=power-message>
                受託開発による「実務経験」を積むことで、個人での勉強やアウトプットとは比べ物にならない、圧倒的な技術力を手にできます。
              </p>
            </div>
          </div>
          <div class="power">
            <p class="power-title">驚異的な管理力</p>
            <img src="images/luna_1.png" class="power-image">
            <div class="power-message-wrapper">
              <p class=power-message>
                チームでの開発ではスケジュール・タスク管理はもちろん現場で求められる管理力を身に付けられます。
              </p>
            </div>
          </div>
          <div class="power">
            <p class="power-title">多彩な会話力</p>
            <img src="images/luna_1.png" class="power-image">
            <div class="power-message-wrapper">
              <p class=power-message>
                チーム内・依頼人とのやり取りなど、多くの意思疎通を行うことでコミュニケーション力を得る事ができます。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="how-to-wrapper">
        <h2 class="how-to-title">How to create product ?</h2>
        <img src="images/luna_04.jpg" class="how-to-image">
      </div>
      <div class="special-wrapper">
        <h2 class="special-title">
          今だけの
          <strong>Special gift !!</strong>
        </h2>
        <img src="images/luna_05.jpg" class="special-image">
      </div>
      <div class="last-phrase-wrapper">
        <p class="last-phrase">
          さあ、今こそ<br>
          INNOVATORS' GUILDで<br>
          冒険の旅路へ</p>
      </div>
      <div class="resister-wrapper">
        <div class="resister-title-wrapper">
          <h2 class="resister-title">参加エントリーはこちらから！</h2>
          <!--<img src="#" alt="">-->
        </div>
        <div class="resister-form">
          <form class="" action="" method="post">
            <div class="resister-form-container">
              <p class="resister-form-title">氏名</p>
              <input type="text" name="氏名" class="resister-form-textarea" required>
            </div>
          </form>
        </div>
        <div class="resister-form">
          <form class="" action="" method="post">
            <div class="resister-form-container">
              <p class="resister-form-title">メールアドレス</p>
              <input type="email" name="メールアドレス" class="resister-form-textarea" required>
            </div>
          </form>
        </div>
        <div class="resister-form">
          <form class="" action="" method="post">
            <div class="resister-form-container">
              <p class="resister-form-title">電話番号</p>
              <input type="tel" name="電話番号" class="resister-form-textarea" required>
            </div>
          </form>
        </div>
        <div class="resister-form-buttun-wrapper">
          <button type="submit" class="resister-form-buttun" value="参加希望を送信">参加希望を送信</button>
        </div>
      </div>
      <div class="last-wrapper">
        <p>＊登録完了後の３step</p>
        <div class="last-list">
          <li>こちらから送付するアンケートに回答</li>
          <li>対面、もしくはオンラインでの事前面談</li>
          <li>参加が確定！</li>
        </div>
      </div>
    </div>
  </body>
</html>
